:root {
     /*--jqs-preset1-bg: ;*/
     /*--jqs-preset1-fg: ;*/
     /*--jqs-preset2-bg: ;*/
     /*--jqs-preset2-fg: ;*/
     /*--jqs-preset3-bg: ;*/
     /*--jqs-preset3-fg: ;*/




     /*  按层次使用一组颜色  */

     --jqs-primary: ;



    /*  主要页面元素颜色分配  */
    --jqs-body-bg: #fff;
    --jqs-body-fg: #333;
    --jqs-header-bg: #1890ff;
    --jqs-header-fg: #fff;
    --jqs-navbar-bg: #eee;
    --jqs-navbar-fg: #333;
    --jqs-navbar-border-color: #555;
    --jqs-navbar-shadow: 2px 0 6px rgb(0 21 41 / 35%);



    /*  关键状态色  */
    --jqs-primary: #85a9ff;
    --jqs-secondary: #31374a;



    /*  组件相关  */
    --jqs-btn-primary: #1890ff;
    --jqs-input-border-color: #888;























}


